<div class="camera">
    <div class="b">
    <h3>新規投稿ページ</h3>
        <%= form_for @tweet do |f| %>
        <div class="field">
            <%= f.label :store_name %>
            <%= f.text_field :store, :size => 30 %>
        </div>

        <div class="field">
            <%= f.label :category_name  %>
            <%= f.select :category, 
            [["ガーリー", "ガーリー"], 
            ["カジュアル", "カジュアル"], 
            ["フェミニン", "フェミニン"],
            ["モード", "モード"],
            ["ストリート", "ストリート"]], include_blank: "選択して下さい" %>
        </div>

        <div class="field">
            <%= f.label :詳細  %>
            <%= f.text_area :about, :size => "30x2" %>
        </div>

        

        <div class="field">
            <%= f.label :image %>
            <%= f.file_field :image %>
        </div>

        <%= f.submit "投稿する" %>
        <% end %>
    
    <%= link_to "一覧に戻る", tweets_path %>
</div>
</div>